<div class="leave-reply">
    <div class="tab-title">
        <h6>دیدگاه خود را با ما در میان بگذارید</h6>
    </div>
    <div class="social_icon mb-3">
        <span>وارد شدن با:</span>
        <ul>
            <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
        </ul>
    </div>
    <form class="leave-reply-form">
        <div class="input-1">
            <input required="" class="form-control" placeholder="نام خود را وارد کنید" value="" type="text" />
        </div>
        <div class="input-2">
            <input required="" class="form-control" placeholder="ایمیل خود را وارد کنید" value="" type="email" />
        </div>
        <div class="input-3">
            <input required="" class="form-control" placeholder="وب سایت" value="" type="text" />
        </div>
        <div class="input-4">
            <textarea required="" rows="4" class="form-control" placeholder="نظر شما"></textarea>
        </div>
        <div class="input-btn">
            <button type="submit" class="btn btn-secondary">
                ارسال
            </button>
        </div>
    </form>
</div>
