@*<div class="side-quantity-box side-box">
    <div class="side-box-title">
        <h6>رنگ</h6>
    </div>
    <div class="quantity-box-detail">
        <ul>
            <li><a href="#">سیاه<span>(10)</span></a></li>
            <li><a href="#">آبی<span>(05)</span></a></li>
            <li><a href="#">قرمز<span>(15)</span></a></li>
            <li><a href="#">سفید<span>(20)</span></a></li>
            <li><a href="#">نقره ای<span>(07)</span></a></li>
        </ul>
    </div>
</div>*@
