
<div class="side-filter-box side-box">
    <div class="side-box-title">
        <h6>فیلترکردن</h6>
    </div>
    <div class="filter-box-detail">
        <div id="slider-range"></div>
        <div class="price_slider_amount">
            <div class="slider-values d-flex align-items-center">
                <p>قیمت</p>
                <input type="text" id="amount" name="price" placeholder="قیمت موردنظر را وارد کنید" />

            </div>
            <button type="button" class="btn btn-sm btn-info text-white btn-block mt-2" id="setPrice">اعمال فیلتر</button>
        </div>
    </div>
</div>

