
@{
    ViewBag.Title = "منقضی شده";
}

    <div class="contant">
        <div id="banner-part" class="banner inner-banner" style="background-image:url(/Files/ProductGroupImages/Image/@ViewBag.Banner)">
            <div class="container">
                <div class="bread-crumb-main">
                    <h1 class="banner-title">سفارش</h1>
                    <div class="breadcrumb">
                        <ul class="inline">
                            <li><a href="/">خانه</a></li>
                            <li>سفارش</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ptb-100">
            <div class="container">
                <div class="row">

                    <div class="col-12 alert alert-warning">
                        <b>خطا!</b>
                        <p>
                            سفارش مورد نظر شما منقضی شده است و دیگر امکان نهایی کردن سفارش وجود ندارد.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>