
<!-- Start Newsletter Section -->
<section class="pt_medium pb_medium navy-dark-bg m-0 px-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="text-white mb-3 mb-md-0">
                    <h5 class="mb-2">به روز رسانی های ما را دنبال کنید!</h5>
                    <p>
                        اگر می خواهید هر زمان پیشنهاد ویژه جدیدی از ما ایمیل دریافت کردید ، در اینجا ثبت نام کنید!
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <form class="newsletter-form">
                    <div class="outline-input">
                        <input type="email" required="" placeholder="ایمیل خود را وارد کنید" id="email" name="email"/>
                    </div>
                    <button type="button" title="Subscribe" class="btn btn-submit border-0 btn-primary" id="btnsubmit"
                            onclick="submitForm()">
                        ارسال
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Newsletter Section -->
