<section class="bg-white section-shadow">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-6 facility-box box-1">
                <div class="facility-inner">
                    <div class="fb-icon">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="fb-text">
                        <h5>تحویل رایگان</h5>
                        <span>در سراسر جهان</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 facility-box box-2">
                <div class="facility-inner">
                    <div class="fb-icon">
                        <i class="fa fa-headphones"></i>
                    </div>
                    <div class="fb-text">
                        <h5>پشتیبانی</h5>
                        <span>پشتیبانی مشتری</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 facility-box box-3">
                <div class="facility-inner">
                    <div class="fb-icon">
                        <i class="fa fa-cc-mastercard"></i>
                    </div>
                    <div class="fb-text">
                        <h5>پرداخت</h5>
                        <span>سیستم امن</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 facility-box box-4">
                <div class="facility-inner">
                    <div class="fb-icon">
                        <i class="fa fa-trophy"></i>
                    </div>
                    <div class="fb-text">
                        <h5>قابل اعتماد</h5>
                        <span>محصولات اصلی</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
